<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Ссылка не действительна{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1>Ссылка не действительна</h1>
<p>Ссылка, по которой вы перешли, больше не действительна.</p>
<h2>Как это могло произойти?</h2>
<p>Ссылка, по которой вы перешли, имела ограниченный срок годности. Сейчас этот срок прошёл, и ссылка больше никуда не ведёт.</p>
<p>Если вы уверены, что ссылка должна работать &mdash; звоните нам в Школу по телефону +7 499 638-28-88 и мы постараемся вам помочь.</p>
<p>Можно так же попробовать поискать информацию на сайте <a href="http://kaula.ru">kaula.ru</a></p>
</body>
</html>