<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Страница не найдена{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1>Страница не найдена</h1>
<p>Ссылка, по которой вы перешли, никуда не ведёт.</p>
<h2>Как это могло произойти?</h2>
<p>Возможно, вы ошиблись при вводе ссылки в адресную строку броузера или при копировании.
Пожалуйста, проверьте корректность ссылки.</p>
<p>Если ничего не помогло, звоните нам в Школу по телефону +7 499 638-28-88 и мы постараемся вам помочь.</p>
<p>Можно так же попробовать поискать информацию на сайте <a href="http://kaula.ru">kaula.ru</a></p>
</body>
</html>